*{
    margin:0;
    padding:0;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: cursive;
}
.navibar{
    width: 86%;
    display:flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    }
.navibar .logo{
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}
ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;

    }
ul li a{
    font-size: 16px;
    text-decoration: none;
    color: burlywood;
    margin-top: -3%;
}
ul li a:hover{
    color: rgb(224, 25, 85);
}

.info{
    margin-left: 15%;
    margin-top: 4%;
    color: antiquewhite;
    left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: coral;
}
.info h3{
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(209, 20, 87);
}
.info a{
    text-decoration: none;
    color: black;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 10px 18px;
    margin: 26px 0px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}
.info a:hover{
    background-color:purple;
}
.img{
    
    position: absolute;
    bottom: 0;
    right: 200px;
    top: 120px;
    
  }

 
  p{
    color: beige;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: -350px;
  }
 h1{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -25%;
    letter-spacing: 10px;
    line-height: -30%;
}

#about1{
    color:palevioletred;
   font-size: 18px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10%;
    border-style: solid;
    border-color: dimgray;
    border-radius: 50px;
    padding: 10px;
    
}
.works {
    margin-top: 300px;
    margin-left: 300px;
    margin-bottom: 30%;
}
#bl1{
    margin-bottom: -20%;
    margin-top: 300px;
}

span{
    color: darkorange;
}
#works1{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0%;
    letter-spacing: 10px;
    margin-bottom: 10%;
    font-size: 30px;
    font-weight: bold;
}
#skills1{
    color: azure;
    font-family: 'Times New Roman', Times, serif; 
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 500px;
}
#sk2{
    margin-left: 200px;
}
#contact1{
    color: azure;
    font-family: 'Times New Roman', Times, serif; 
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 500px;
}
